Array Files
Soundman's Trash
trash
xJSFL
Copy Font Name for ActionScript.jsfl
Copy Motion as XML.jsfl
Export Motion XML.jsfl
Import Motion XML.jsfl
names.xml
testing.jsfl
VoiceLineProcessor/__pycache__
VoiceLineProcessor/output
VoiceLineProcessor/TextGrid_files
VoiceLineProcessor/model/
.VSCodeCounter
getLineId.jsfl
VoiceLineProcessor
Scene\ Generators/Script\ Parsing/Scripts
C++ Level Utilities/.vs
C++ Level Utilities/Debug
C++ Level Utilities/Release
C++ Level Utilities/x64
AI Assisted Audio Splicing/audio
AI Assisted Audio Splicing/models
AI Assisted Audio Splicing/scriptData